<!-- <div class="container"> -->
    <!-- <mat-checkbox [checked]="checkboxChecked" (change)="checkboxCheckedChange($event)">Check me!</mat-checkbox> -->
    <!-- <video loop muted autoplay #video> -->
        <!-- <source src="polina.webm" type="video/webm"> -->
        <!-- <source src="../../../assets/media/background_video.mp4" type="video/mp4"> -->
    <!-- </video> -->
<!-- </div> -->

<div class="out-box">
    <!-- <img src="~assets/media/login_background_power_cover.jpg" alt=""> -->
    <!-- poster="/assets/media/login_background_power_cover.jpg" -->
    <video  loop muted autoplay style="background: url('/assets/media/login_background_power_cover.jpg') no-repeat center scroll;background-size: cover;">
        <source  src="/assets/media/login_background_power.mp4" type="video/mp4">
        <source  src="/assets/media/login_background_power.ogg" type="video/ogg">
        <source  src="/assets/media/login_background_power.webm" type="video/webm">
        您的浏览器不支持Video标签。
    </video>
    <div class="mask"></div>
</div>
